.Quote {
    padding: 25px;
    background: rgba(0, 0, 0, 0.6);
}


.Quote__text {
    color: white;
    animation:3s slideIn;
}

.Quote__author {
    color: white;
    font-style: italic;
    animation:3s slideBottom;
}

@keyframes slideIn {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

@keyframes slideBottom{
    from{
       position:relative;
       right:100%;
    }
    
    to{
        position:relative;
        right:0%;
    }
}
