@media only screen and (max-width:599px){
    .Quote{
        width:50%;
    }
    
    .Quote__text {
        font-size:18px;
    }

    .Quote__author{
        font-size:13px; 
    }
    
}
  
  
 @media only screen and (min-width:600px){
    .Quote{
        width:55%;
    }
    
    .Quote__text{
        font-size:25px;
    }

    .Quote__author{
        font-size:15pz; 
    }
  }
  
  @media only screen and (min-width:900px){
    .Quote{
        width:50%;
    }
    
    .Quote__text{
        font-size:25px;
    }

    .Quote__author{
        font-size:15pz; 
    }
    
  }
  
  @media only screen and (min-width:1200px){
    .Quote{
        width:50%;
    }
    
    .Quote__text{
        font-size:25px;
    }

    .Quote__author{
        font-size:15pz; 
    }
    
  }
  
